<div class="sparky_full contentrow">
    <div class="container">
        <div class="row">
            <div class="content_sparky span12">
                <div class="cell_pad">
                    <div id="system-message-container">
                    </div>

                    <div class="item-page" itemscope itemtype="https://schema.org/Article">
                        <meta itemprop="inLanguage" content="bg-BG" />


                        <div class="page-header">
                            <h2 itemprop="headline">
                                Солариум - Колариум
                            </h2>
                        </div>





                        <div itemprop="articleBody">
                            <p>
                                <div class="moduletable">



                                    <div style="border: 0px !important;">

                                        <div id="djslider-loader255" class="djslider-loader djslider-loader-default" data-animation='{"auto":"1","looponce":"0","transition":"easeInOutExpo","css3transition":"cubic-bezier(1.000, 0.000, 0.000, 1.000)","duration":400,"delay":3400}' data-djslider='{"id":"255","slider_type":"0","slide_size":370,"visible_slides":"1","direction":"left","show_buttons":"0","show_arrows":"1","preload":"800","css3":"1"}' tabindex="0">

                                            <div id="djslider255" class="djslider djslider-default" style="height: 240px; width: 360px; max-width: 360px !important;">

                                                <div id="slider-container255" class="slider-container">

                                                    <ul id="slider255" class="djslider-in">


                                                        <li style="margin: 0 10px 0px 0 !important; height: 240px; width: 360px;">



                                                            <a class="image-link" data-title="" href="@Url.Content("~/images/Solarium-Colarium-01 (Medium).JPG")" target="_self">


                                                                <img class="dj-image" src="@Url.Content("~/images/Solarium-Colarium-01 (Medium).JPG")" alt="Solarium-Colarium-01 (Medium).JPG" style="width: 100%; height: auto;" />


                                                            </a>







                                                        </li>


                                                        <li style="margin: 0 10px 0px 0 !important; height: 240px; width: 360px;">



                                                            <a class="image-link" data-title="" href="@Url.Content("~/images/Solarium-Colarium-02 (Medium).JPG")" target="_self">


                                                                <img class="dj-image" src="@Url.Content("~/images/Solarium-Colarium-02 (Medium).JPG")" alt="Solarium-Colarium-02 (Medium).JPG" style="width: 100%; height: auto;" />


                                                            </a>







                                                        </li>


                                                        <li style="margin: 0 10px 0px 0 !important; height: 240px; width: 360px;">



                                                            <a class="image-link" data-title="" href="@Url.Content("~/images/Solarium-Colarium-03 (Medium).JPG")" target="_self">


                                                                <img class="dj-image" src="@Url.Content("~/images/Solarium-Colarium-03 (Medium).JPG")" alt="Solarium-Colarium-03 (Medium).JPG" style="width: 100%; height: auto;" />


                                                            </a>







                                                        </li>


                                                    </ul>

                                                </div>


                                                <div id="navigation255" class="navigation-container" style="top: 16.6666666667%; margin: 0 2.77777777778%;">


                                                    <img id="prev255" class="prev-button showOnHover" src="@Url.Content("~/images/prev.png")" alt="Previous" tabindex="0" />

                                                    <img id="next255" class="next-button showOnHover" src="@Url.Content("~/images/next.png")" alt="Next" tabindex="0" />



                                                </div>



                                            </div>

                                        </div>

                                    </div>

                                    <div class="djslider-end" style="clear: both" tabindex="0"></div>
                                </div>
                            </p>
                            <p>Заповядайте във <strong>V GYM Fitness &amp; SPA</strong> и  се насладете на лукса в топ модела солариум-колариум на водещата в света марка<strong> MEGASUN</strong>. 3 различни режима на силата на нагряване и допълнителни лампи за лице ще Ви осигурят бързо и равномерно потъмняване. Комбинацията от соларни и колагенови лампи ще стимулира производството на витамин D, както и на колаген в кожата, което ще я направи стегната и ще заличи фините бръчици на тялото. Колариумът не уврежда, не изгаря и не наранява тъканта. Функциите за ароматерапия, климатроник, водно разхлаждане с фина водна пара, светлинно шоу и мощни говорители с музика по Ваш вкус, която можете да избирате дори от мобилния си телефон, ще направят добиването на тен едно наистина незабравимо изживяване. Възползвайте се и от богатата гама козметична продукти, които предлагаме, за по-силен и равномерен тен, както и за овлажняване и подхранване на кожата.</p>
                        </div>


                    </div>
                    <div><a title="Faboba : Cr&eacute;ation de composantJoomla" style="font-size: 8px;; visibility: visible;display:inline;" href="http://www.faboba.com" target="_blank">FaLang translation system by Faboba</a></div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>
