<div class="sparky_full contentrow">
    <div class="container">
        <div class="row">
            <div class="content_sparky span12">
                <div class="cell_pad">
                    <div id="system-message-container">
                    </div>
                    <div class="item-page" itemscope itemtype="https://schema.org/Article">
                       <div class="page-header">
                            <h2 itemprop="headline">
                                Фитнес и СПА
                            </h2>
                        </div>
                        <div itemprop="articleBody">
                            <p style="text-align: justify;">
                                <div class="moduletable">



                                    <div style="border: 0px !important;">

                                        <div id="djslider-loader290" class="djslider-loader djslider-loader-default" data-animation='{"auto":"1","looponce":"0","transition":"easeInOutExpo","css3transition":"cubic-bezier(1.000, 0.000, 0.000, 1.000)","duration":400,"delay":3400}' data-djslider='{"id":"290","slider_type":"0","slide_size":490,"visible_slides":"1","direction":"left","show_buttons":"1","show_arrows":"1","preload":"800","css3":"1"}' tabindex="0">

                                            <div id="djslider290" class="djslider djslider-default" style="height: 342px; width: 480px; max-width: 480px !important;">

                                                <div id="slider-container290" class="slider-container">

                                                    <ul id="slider290" class="djslider-in">


                                                        <li style="margin: 0 10px 0px 0 !important; height: 342px; width: 480px;">



                                                            <img class="dj-image" src="@Url.Content("~/images/Fitness-02 (Medium).jpg")" alt="Fitness-02 (Medium).jpg" style="width: 100%; height: auto;" />







                                                        </li>


                                                        <li style="margin: 0 10px 0px 0 !important; height: 342px; width: 480px;">



                                                            <img class="dj-image" src="@Url.Content("~/images/Onyx-Wall (Medium).jpg")" alt="Onyx-Wall (Medium).jpg" style="width: 100%; height: auto;" />







                                                        </li>


                                                    </ul>

                                                </div>


                                                <div id="navigation290" class="navigation-container" style="top: 11.6959064327%; margin: 0 2.08333333333%;">


                                                    <img id="prev290" class="prev-button showOnHover" src="@Url.Content("~/images/prev.png")" alt="Previous" tabindex="0" />

                                                    <img id="next290" class="next-button showOnHover" src="@Url.Content("~/images/next.png")" alt="Next" tabindex="0" />



                                                    <img id="play290" class="play-button showOnHover" src="@Url.Content("~/images/play.png")" alt="Play" tabindex="0" />

                                                    <img id="pause290" class="pause-button showOnHover" src="@Url.Content("~/images/pause.png")" alt="Pause" tabindex="0" />


                                                </div>



                                            </div>

                                        </div>

                                    </div>

                                    <div class="djslider-end" style="clear: both" tabindex="0"></div>
                                </div>
                                <strong>V GYM Fitness &amp; SPA</strong> разполага с просторна фитнес зала, оборудвана с висококачествени уреди на италианската марка <strong>Panatta</strong>. След тренировка клиентите ни имат възможност да релаксират в басейн и джакузи. СПА зоната във<strong> V GYM Fitness &amp; SPA</strong> включва още зали за масажи, парна баня, хамам и снежна стая.
                            </p>
                            <p>Повече информация четете в подсекциите <a href="/фитнес-и-спа/фитнес" hreflang="bg">ФИТНЕС</a>, <a href="/фитнес-и-спа/спа-помещения" hreflang="bg">СПА ПОМЕЩЕНИЯ</a>, <a href="/фитнес-и-спа/масажи" hreflang="bg">МАСАЖИ И РИТУАЛИ</a> и <a href="/фитнес-и-спа/апарати" hreflang="bg">АПАРАТИ</a>.</p>
                        </div>


                    </div>
                    <div><a title="Faboba : Cr&eacute;ation de composantJoomla" style="font-size: 8px;; visibility: visible;display:inline;" href="http://www.faboba.com" target="_blank">FaLang translation system by Faboba</a></div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>